.dp-demo {
	position: relative;
	padding: 0 7.5vw;
	opacity: 0;
}

/* VIZ WRAP */
.dpd-viz-wrap {
	position: absolute;
	width: calc(100% - 15vw);
	height: 90vh;
	top: 5vh;
	left: 7.5vw;
}



/* SCROLL AREA */
.dpd-scroll-area {
	width: 100%;
}
.dpd-scroll-area-head {
	height: 50vh;
}
.dpd-scroll-area-main {
	width: 100%;
}
.dpd-scroll-area-tail {
	height: 80vh;
}
.dpd-scroll-section {
	display: flex;
	align-items: flex-start;
	height: 80vh;
}
.dpd-scroll-section.center {
	justify-content: center;
}
.dpd-scroll-section.right {
	justify-content: flex-end;
}
.dpd-scroll-text-wrap {
	padding: 0.8em 1.2em;
	box-sizing: border-box;
	background: var(--surface);
	border: solid 1px var(--border);
	border-radius: 0.4em;
	opacity: 0;
	transform: scale(0.8);
}
.dpd-scroll-text {
	margin-bottom: 0;
}


/* INTERACTIVE */
.dpd-interactive-wrap {
	position: relative;
	height: 100%;
	width: 30%;
	align-items: flex-start;
	flex-direction: column;
}
.dpd-interactive-prompt-wrap {
	padding: 0.8em 1.2em;
	box-sizing: border-box;
	background-color: var(--surface);
	border: solid 1px var(--border);
	border-radius: 0.4em;
}
.dpd-interactive-prompt {
	font-weight: 500;
	font-size: 1.1em;
	padding-bottom: 0.6em;
	border-bottom: solid 1px var(--line);
}
.dpd-interactive-results-wrap {
	width: 100%;
	height: 100%;
	flex-direction: column;
	opacity: 0;
}
.dpd-interactive-result-wrap {
	width: 100%;
	height: 300px;
	margin: 2em 0;
	justify-content: flex-start;
	text-align: left;
}
.dpd-interactive-result-connector {
	width: 2em;
	border-bottom: 2px dashed var(--line);
	margin-right: 2em;
}
.dpd-interactive-label {
	width: 6em;
	margin-bottom: 0;
	color: var(--light);
	font-size: 0.9em;
	line-height: 1.1;
}
.dpd-interactive-acceptance {
	font-size: 3.2em;
	line-height: 1;
	margin-bottom: 0;
}
.dpd-interactive-acceptance-unit {
	font-size: 0.6em;
	color: var(--light);
	margin-left: 0.1em;
}



/* VIZ */
.dpd-viz-general,
.dpd-viz-discrepancy {
	flex-direction: column;
	height: 100%;
}

.dpd-viz-caucasian,
.dpd-viz-african-american {
	flex-direction: column;
	margin: 1.2em 0;
}



/* SCROLL ARROW */
.dpd-scroll-arrow-wrap {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 1em);
}
.dpd-scroll-arrow {
	overflow: visible;
	width: 1em;
	height: 2em;
	opacity: 0;
}
.dpd-scroll-arrow-label {
	margin-left: 0.2em;
	margin-bottom: 1.2em;
	font-size: 0.8em;
	opacity: 0;
}



@media only screen and (max-width: 768px) {
	.dpd-viz-wrap {
		height: calc(100vh - 2.8em);
		top: 2.8em;
	}
	.dpd-scroll-section.left,
	.dpd-scroll-section.right {
		justify-content: center;
	}
	.dpd-interactive-wrap {
		display: none;
	}
	.dpd-scroll-area-head {
		height: 20vh;
	}
}
