.dp-demo {
	position: relative;
}



/* VIZ WRAP */
.dpd-viz-wrap {
	position: absolute;
	width: 100%;
	height: 90vh;
	top: 5vh;
}



/* SCROLL AREA */
.dpd-scroll-area {
	width: 100%;
}
.dpd-scroll-area-head {
	height: 50vh;
}
.dpd-scroll-area-main {
	width: 100%;
}
.dpd-scroll-area-tail {
	height: 80vh;
}
.dpd-scroll-section {
	display: flex;
	align-items: flex-start;
	height: 80vh;
}
.dpd-scroll-section.center {
	justify-content: center;
}
.dpd-scroll-section.right {
	justify-content: flex-end;
}
.dpd-scroll-text-wrap {
	padding: 0.8em 1.2em;
	box-sizing: border-box;
	background-color: var(--surface);
	border: solid 1px var(--border);
	border-radius: 0.4em;
	opacity: 0;
	transform: scale(0.8);
}
.dpd-scroll-text {
	margin-bottom: 0;
}


/* INTERACTIVE */
.dpd-interactive-wrap {
	position: relative;
	height: 100%;
	align-items: flex-start;
	flex-direction: column;
}
.dpd-interactive-prompt-wrap {
	padding: 0.8em 1.2em;
	box-sizing: border-box;
	background-color: var(--surface);
	border: solid 1px var(--border);
	border-radius: 0.4em;
}
.dpd-interactive-prompt {
	font-weight: 500;
	font-size: 1.1em;
	padding-bottom: 0.6em;
	border-bottom: solid 1px var(--line);
}
.dpd-interactive-results-wrap {
	width: 100%;
	height: 100%;
	flex-direction: column;
	opacity: 0;
}
.dpd-interactive-result-wrap {
	width: 100%;
	height: 300px;
	margin: 2em 0;
	justify-content: flex-start;
	text-align: left;
}
.dpd-interactive-result-connector {
	width: 2em;
	border-bottom: 2px dashed var(--line);
	margin-right: 2em;
}
.dpd-interactive-label {
	width: 6em;
	margin-bottom: 0;
	color: var(--light);
	font-size: 0.9em;
	line-height: 1.1;
}
.dpd-interactive-acceptance {
	font-size: 3.2em;
	line-height: 1;
	margin-bottom: 0;
}
.dpd-interactive-acceptance-unit {
	font-size: 0.6em;
	color: var(--light);
	margin-left: 0.1em;
}



/* VIZ */
.dpd-viz-general,
.dpd-viz-discrepancy {
	flex-direction: column;
	height: 100%;
}

.dpd-viz-caucasian,
.dpd-viz-african-american {
	flex-direction: column;
	margin: 1.2em 0;
}



/* SCROLL ARROW */
.dpd-scroll-arrow-wrap {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 1em);
}
.dpd-scroll-arrow {
	overflow: visible;
	width: 1em;
	height: 2em;
	opacity: 0;
}
.dpd-scroll-arrow-label {
	margin-left: 0.2em;
	margin-bottom: 1.2em;
	font-size: 0.8em;
	opacity: 0;
}



@media only screen and (max-width: 768px) {
	.dpd-viz-wrap {
		width: 100%;
		height: calc(100vh - 3.2em);
		top: 3.2em;
	}
	.dpd-interactive-wrap {
		display: none;
	}
	.dp-definition .dp-def-interactive-caption {
		font-size: 0.8em;
		margin-bottom: 0.8em;
		text-align: left;
	}
	.dp-def-interactive-lock-wrap {
		display: none;
	}
	.dp-def-interactive-inner-wrap {
		flex-direction: column;
	}
	.dp-definition .dp-def-caucasian,
	.dp-definition .dp-def-african-american {
		height: 50vw;
		margin-top: 2.4em;
		margin-bottom: 0;
	}
	.dp-definition .dp-def-interactive-result-wrap {
		height: 6em;
		width: auto;
		margin-top: 0.4em;
		margin-bottom: 0;
		margin-left: 0;
		text-align: center;
	}
	.dp-definition .dp-def-interactive-label {
		font-size: 0.8em;
	}
	.dp-definition .dp-def-interactive-acceptance {
		font-size: 2.4em;
	}
}
