.article-hero-wrap {
	position: relative;
	display: flex;
	align-items: flex-end;
	height: 100vh;
	padding: 5vw 0;
	box-sizing: border-box;
	overflow: hidden;
}
.article-title-span-outer-wrap {
	display: block;
	position: relative;
	margin: 0.28em 0;
	padding-left: 0.14em;
}
.article-title-span-wrap {
	display: block;
	position: relative;
	overflow: hidden;
	height: 0.9em;
}
.article-title-span {
	display: block;
	transform: translateY(1em);
	height: 0.8em;
}
.article-title-underline.horizontal {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%) scaleX(0);
	width: 200vw;
	border-top: solid 1px var(--line);
	z-index: -1;
}
.article-title-underline.vertical {
	position: absolute;
	left: 0;
	top: 50%;
	transform-origin: bottom;
	transform: translateY(-50%) scaleY(0);
	height: 200vh;
	border-right: solid 1px var(--line);
	z-index: -1;
}
.article-title {
	font-size: calc((85vw - 4em)/7.2);
}
@media only screen and (min-width: 1400px) {
	.article-title {
		font-size: 8.2em;
	}
}

@media only screen and (max-width: 768px) {
	.article-hero-wrap {
		height: calc(72vw);
	}
	.article-title {
		font-size: calc(85vw/7.2);
	}
}
