.article-next-chapter-inner-wrap {
	position: relative;
}
.artcile-next-chapter-prompt {
	width: 12em;
	text-transform: uppercase;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-bottom: solid 1px var(--line);
	padding-bottom: 0.2em;
	margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
	.artcile-next-chapter-prompt {
		width: 8.8em;
		text-align: left;
		margin: 0;
	}
}
