.article-next-chapter-inner-wrap {
	position: relative;
	height: 4em;
}
.artcile-next-chapter-prompt {
	width: 12em;
	text-transform: uppercase;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-bottom: solid 1px var(--line);
	padding-bottom: 0.2em;
}

@media only screen and (max-width: 580px) {
	.article-next-chapter-inner-wrap {
		height: 4.8em;
	}
}
