.eo-def-interactive-wrap {
  width: 100%;
}
.eo-def-interactive-inner-wrap {
  position: relative;
  width: 85%;
}
.eo-def-caucasian,
.eo-def-african-american {
  width: 100%;
  height: 14em;
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* INTERACTIVE */
.eo-def-interactive-caption-wrap {
  border-bottom: solid 1px var(--line);
  margin-right: 0px !important;
}
.eo-def-interactive-caption {
  color: var(--light);
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.8em;
}
.eo-def-interactive-lock-wrap {
  position: absolute;
  bottom: 0;
  right: 6em;
  transform: translateY(50%);
  width: 2em;
  opacity: 0.1;
}
.eo-def-interactive-lock-connector {
  height: 3.2em;
  border-left: dashed 2px var(--dark);
  margin: 0.8em 0;
}
.eo-def-interactive-result-wrap {
  flex-shrink: 0;
  width: 8em;
  height: 200px;
  margin: 2em 0;
  margin-left: 3.2em;
  justify-content: flex-start;
  text-align: left;
}
.eo-def-interactive-label {
  width: 6em;
  margin-bottom: 0;
  color: var(--light);
  font-size: 0.9em;
  line-height: 1.1;
}
.eo-def-interactive-acceptance {
  font-size: 3.2em;
  line-height: 1;
  margin-bottom: 0;
}
.eo-def-interactive-acceptance-unit {
  font-size: 0.6em;
  color: var(--light);
  margin-left: 0.1em;
}
