.menu-wrap:not(.on) {
  pointer-events: none;
}

.menu-item {
  position: relative;
  opacity: 0;
}

.menu-item:not(:last-child) {
  border-bottom: solid 1px var(--border);
}

.menu-item:hover > .mi-title {
  color: var(--medium);
}

.mi-label {
  margin-bottom: 0.2em;
  font-size: 0.8em;
  text-align: left;
  text-transform: uppercase;
}

.menu-background {
  background-color: var(--background);
  opacity: 0;
}

@media only screen and (max-width: 1024px) {
  .nav-menu-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu-item-title {
    width: 100%;
    margin-left: 0;
  }

  .nav-menu-item-label {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .menu-wrap {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .mi-label {
    margin-bottom: 0.2em;
    text-align: left;
    text-transform: uppercase;
  }
  .mi-hover-image-wrap > img {
    transform: scale(0.68);
  }
}
