$font-size-factor-medium: 0.8;
$font-size-factor-small: 0.6;
$h1: 8rem;
$h2: 4.8rem;
$h3: 3.2rem;
$h4: 1.4rem;
$quote: 2rem;

* {
  margin: 0;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Founders Grotesk Text', Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}
h1, h2, h3, h4, h5 {
  font-family: 'Domaine Display Narrow', Georgia, Garamond, serif;
  font-weight: 700;
  color: var(--dark);
}
h1 {
  font-size: $h1;
  line-height: 0.9;
}
h2 {
  font-size: $h2;
  line-height: 0.9;
}
h3 {
  font-size: $h3;
  line-height: 1.2;
}
h4 {
  font-size: $h4;
  line-height: 1.2;
}
p, input, textarea, button, label {
  font-size: 1em;
  line-height: 1.4;
  color: var(--medium);
  font-family: 'Founders Grotesk Text', Arial, Helvetica, sans-serif;
}
p {
  margin-bottom: 1em;
}
a {
  border-radius: 0.4em;
  text-decoration: none;
}
small {
  color: var(--light);
}
html[data-whatintent='keyboard'] a:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--theme-light);
}
button {
  appearance: none;
  font-size: 1em;
  font-weight: 500;
  color: var(--dark);
  background-color: transparent;
  border: none;
  padding: 0.3em 1.2em 0.5em;
  border-radius: 0.2em;
  cursor: pointer;
}
button.block {
  display: block;
  padding: 0;
}
[data-whatintent='mouse'] *:focus,
[data-whatintent='touch'] *:focus {
  outline: none;
}
html[data-whatintent='keyboard'] button:focus, 
html[data-whatintent='keyboard'] *[role=button]:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--theme-light);
}
hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px var(--line);
}
hr.light {
  border-bottom: solid 1px var(--border);
}
.quote {
  font-family: 'Founders Grotesk', Arial, sans-serif;
  font-weight: 500;
  color: var(--dark);
  line-height: 1.2;
  font-size: $quote;
}

#app-content {
  background: var(--background);
}
.app-content-wrapper {
  width: calc(100vw - 4em);
  margin-left: 4em;
}
.app-content-wrapper > .container {
  position: relative;
}
.app-grid-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 4em);
  height: 100%;
  margin-left: 4em;
  z-index: 1000;
  pointer-events: none;
}
.app-grid-inner-wrap,
.app-grid-inner-wrap > .row {
  height: 100%;
}
.app-grid-line {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.01);
}
.tl-edges {
  overflow-x: initial;
}


@media only screen and (max-width: 1024px) {
  h1 { font-size: $h1 * $font-size-factor-medium; }
  h2 { font-size: $h2 * $font-size-factor-medium; }
  h3 { font-size: $h3 * $font-size-factor-medium; }
  h4 { font-size: $h4 * $font-size-factor-medium; }
}

@media only screen and (max-width: 768px) {
  h1 { font-size: $h1 * $font-size-factor-small; }
  h2 { font-size: $h2 * $font-size-factor-small; }
  h3 { font-size: $h3 * $font-size-factor-small; }
  h4 { font-size: $h4 * $font-size-factor-small; }
  .quote { font-size: $quote * $font-size-factor-medium; }

  .app-content-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .hide-in-mobile {
    display: none;
  }
}


/* FONTS */
@font-face {
  font-family: Founders Grotesk;
  font-weight: 500;
  src: url('/fonts/FoundersGrotesk-Medium.woff2') format('woff2'),
    url('/fonts/FoundersGrotesk-Medium.woff') format('woff');
}

@font-face {
  font-family: Founders Grotesk Text;
  font-weight: 500;
  src: url('/fonts/FoundersGroteskText-Medium.woff2') format('woff2'),
    url('/fonts/FoundersGroteskText-Medium.woff') format('woff');
}

@font-face {
  font-family: Founders Grotesk Text;
  font-weight: 400;
  src: url('/fonts/FoundersGroteskText-Regular.woff2') format('woff2'),
    url('/fonts/FoundersGroteskText-Regular.woff') format('woff');
}

@font-face {
  font-family: Domaine Display Narrow;
  font-weight: 700;
  src: url('/fonts/DomaineDispNar-Bold.woff2') format('woff2'),
    url('/fonts/DomaineDispNar-Bold.woff') format('woff');
}
