.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 1.8em;
  border-top: solid 1px var(--line);
  padding-top: 0.6em;
}
.footer p {
	font-size: 0.8em;
	color: var(--light);
	margin-bottom: 0;
}
